<html data-sly-use.page="com.adobe.cq.wcm.core.components.models.Page" lang="${page.language}"
	  data-sly-use.global="com.aem.core.mediamonks.core.use.GlobalUse"
      data-sly-use.head="head.html">
<head data-sly-call="${head.head @ page = page}"></head>
<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<body>
<div>
	<sly data-sly-test="${global.headerResPath}">
	<sly data-sly-resource="${ @path=global.headerResPath,
			resourceType='/apps/MediaMonks/components/content/global-header',wcmmode='disabled'}"/>
	</sly>
    <main id="main" tabindex="-1">
		<sly data-sly-include="body.html"></sly>
	</main>
  </div>
</body>
</html>